//@import '~antd/dist/antd.css';

@import 'themes/app';

// 引入atom图标
// https://github.com/file-icons/atom
@import 'styles/atom/fonts';
@import 'styles/atom/icons';
@import 'styles/atom/colours';

html,
body {
  width: 100%;
  height: 100%;
  font-family: zpix, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
